/* Reset Code Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Reset Code End */
/* Header Section Code Start */
header {
  width: 100%;
  height: 100vh;
  background-color: #1e1e1e;
}
header nav {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 50px;
}
header nav .nav-logo h3 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #fd6f00;
}
header nav .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-menu ul {
  color: white;
  display: flex;
  margin-right: 20px;
}
header nav .nav-menu ul li {
  list-style: none;
  margin-right: 20px;
  font-family: Rubik;
  font-size: 21px;
  font-weight: 400;
  line-height: 24.89px;
  letter-spacing: 0.03em;
  text-align: left;
}
header nav .nav-menu .nav-btn {
  background-color: #fd6f00;
  color: white;
  width: 188px;
  height: 52px;
  top: 7px;
  left: 545px;
  gap: 0px;
  opacity: 0px;
}
/* Header Section Code End */












/* Responsive Design Code Section  */
/* Header Section Code Start */
@media screen and (min-width: 300px) and (max-width: 700px) {
    /* Navbar Code Start */
  header nav {
    display: block;
  }
  header nav .nav-menu {
    display: block;
    text-align: center;
  }

  header nav .nav-logo h3 {
    text-align: center;
  }
  header nav .nav-menu ul {
    display: block;
    width: 100%;
  }
  header nav .nav-menu ul li {
    text-align: center;
  }
}
@media screen and (min-width: 700px) and (max-width: 1150px) {
  header nav {
    display: flex;
  }
  header nav .nav-menu {
    display: flex;
  }
  header nav .nav-menu ul {
    display: block;
    width: 100%;
  }
  header nav .nav-menu ul li {
    text-align: center;
  }
  /* Navbar Code End */

  /* Banner Section Code Start */
  /* Banner Section Code End */
}
/* Header Section Code end */